:root {
    --red: #e14943;
    --darkred: #cf2821;
    --purple: #755384;
    --blue: #6288bc;
    --green: #71c09e;
    --yellow: #ffd065;
    --white: #fffdf9;
    --text: #3b3e44;
    --lightblue: #eff4f8;
    --navy: #292e37;
    --mutednavy: #444d5c;
    --divider: #f6f3f0;
}
