<footer class='footer'>
    <div class='footer__inner'>
        <section class='footer__top'>
            <img class='footer__logo' src={{asset 'images/full-logo.png'}} />
            <div class='kg-button-card'>
                <a class='kg-btn' href='#/portal/signup'>Membership</a>
            </div>
        </section>
        <section class='footer__links'>
            {{navigation type='secondary'}}
        </section>
        <section class='footer__bottom'>
            <form
                action='https://rubycentral.us13.list-manage.com/subscribe/post?u=e7e9b891a6914ff2f5acdfd15&amp;id=0a6a1336c5&amp;v_id=5118&amp;f_id=008ef4e7f0'
                autocomplete='off'
                class='footer__form'
                method='post'
            >
                <div class='footer__form__row'>
                    <input
                        data-lpignore='true'
                        data-1p-ignore
                        name='EMAIL'
                        placeholder='Enter your email...'
                        required='true'
                        type='email'
                    />
                    <div class='kg-button-card'>
                        <button class='kg-btn' type='submit'>Sign Up</button>
                    </div>
                </div>
            </form>
            <div class='footer__bottom__socials'>
                <div class='footer__bottom__socials__links'>
                    {{#get 'pages' filter="title:'Footer - Socials'" limit='1'}}
                        {{#foreach pages}}
                            {{content}}
                        {{/foreach}}
                    {{/get}}
                </div>
                <small>©{{date format='YYYY'}} Ruby Central. All Rights Reserved.</small>
            </div>
        </section>
    </div>
</footer>
