<aside class='get-involved'>
    <h2 class='get-involved__title'>Get Involved</h2>
    <hr />
    <section class='get-involved__row'>
        <section class='get-involved__column--newsletter'>
            <p>Tune in to Ruby Central by<br />subscribing to our newsletter.</p>
            <form class='get-involved__form' data-members-form='subscribe'>
                <div class='get-involved__form__row'>
                    <input
                        data-members-email
                        name='email'
                        id='get-involved-email'
                        placeholder='Enter your email...'
                        required='true'
                        type='email'
                    />
                    <div class='kg-button-card'>
                        <button class='kg-btn' type='submit'>Sign Up</button>
                    </div>
                </div>
                <span data-members-error></span>
                <span data-members-success></span>
            </form>
        </section>
        <section class='get-involved__column--content'>
            {{#get 'pages' filter="title:'Global::GetInvolved'" limit='1'}}
                {{#foreach pages}}
                    {{content}}
                {{/foreach}}
            {{/get}}
        </section>
    </section>
</aside>
