<nav class='navigation--top'>
    <div class='navigation__inner'>
        <a class='navigation__logo' href='/'>
            <img src={{asset 'images/gem-logo--badge.svg'}} />
        </a>
        <button class='navigation__mobile-menu-trigger closed'></button>
        {{navigation}}
        <div class='navigation__membership kg-button-card'>
            <a class='kg-btn' href='#/portal/signup'>Membership</a>
        </div>
    </div>
</nav>
