{{!< default}}
<header class='page-about__hero'>
    <div class='page-about__hero__inner'>
        {{#get 'pages' filter="title:'About::Hero - Body'" limit='1'}}
            {{#foreach pages}}
                {{content}}
            {{/foreach}}
        {{/get}}
        <section class='kg-button-card__group'>
            {{#get 'pages' filter='tag:hash-about-hero-cta' limit='2'}}
                {{#foreach pages}}
                    {{content}}
                {{/foreach}}
            {{/get}}
        </section>
    </div>
</header>
{{> 'get-involved' }}
