{{!< default}}

<div class="static-content post__list">
  {{#foreach posts}}
    <article class="post__list__item">
      <a href="{{url}}">{{title}}</a>
      <p>{{date published_at format="MMMM DD, YYYY"}}</p>
    </article>
  {{/foreach}}

  {{pagination}}
</div>
