{{!< default}}

<div class="static-content">
  {{#foreach posts}}
    <a class="post__list__item" href="{{url}}">{{title}}</a>
    <p><em>{{date published_at format="MMMM DD, YYYY"}}</em></p>
  {{/foreach}}

  {{pagination}}
</div>
