{{!< default}}

<div class="static-content">
  {{#foreach posts}}
    <h3><a href="{{url}}">{{title}}</a></h3>
    <p><em>{{date published_at format="MMMM DD, YYYY"}}</em></p>
  {{/foreach}}
</div>

<div class="static-content">
  <a href="/" class="back">← Back Home</a>
</div>
