nav,
footer {
  padding: 1rem 0;
}
nav ul,
footer ul {
  display: flex;
  gap: 2rem;
  list-style-type: none;
  font-size: var(--small);
}

nav, nav ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

nav .logo-circle {
  transition: transform .25s ease-in-out;
  width: 30px;
  height: 30px;
  left: 20px;
  top: 20px;
  margin: 10px 0px 0 30px;
  border-radius: 30px;
  box-shadow: 0 9px 18px rgba(129, 0, 0, 0.3), 0 2px 5px rgba(137, 0, 0, 0.2);
  background: no-repeat center 6px / 80% url(/assets/images/gem-logo.svg), linear-gradient(to top, #DF3434 0%, #FB5E55 100%);
}

nav .logo-circle {
  transform: scale(1.05);
}

nav ul li:last-child {
  margin-left: auto;
  margin-right: 1.5rem;
}

footer {
  padding: 130px 0;
  text-align: center;
}
footer ul.nav {
  justify-content: center;
  margin: 0;
  padding: 0;
}
footer ul.nav a,
nav ul li:last-child a {
  background: linear-gradient(to top, #df3434 0%, #fb5e55 100%);
  box-shadow: 0 15px 28px rgba(129, 0, 0, 0.2), 0 2px 5px rgba(137, 0, 0, 0.2);
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
}
footer ul.nav a {
  padding: 15px 20px;
}
footer .nav .nav-contact-us > a > span {
  background-attachment: local;
  background-image: url("/assets/images/contact-icon.svg");
  background-clip: padding-box;
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-position: top 2px left;
  background-size: 20px;
  padding-left: 25px;
}
