.link-list {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family--heading);
  gap: var(--space--xx-small);

  p {
    margin: 0;
  }
}

.link-list__label {
  font-weight: var(--font-weight--bold);
}

.link-list__items {
  --gutter: var(--space--xx-small);

  display: flex;
  flex-direction: column;
  gap: var(--gutter);
}

.link-list--feature .link-list__items {
  --gutter: var(--space--base);
}

.link-list__link {
  align-items: center;
  border-bottom: var(--border--dark);
  display: flex;
  justify-content: space-between;
  padding-block-end: var(--gutter);
  text-decoration: 0;
  transition-property: border-color;

  &:hover {
    border-color: var(--color--secondary-base);

    .link-list__arrow {
      background-color: var(--color--secondary-base);
      color: var(--color--text-inverse);
      transform: translateX(var(--space--xx-small));
    }
  }
}

.link-list--feature .link-list__link {
  align-items: center;
  display: grid;
  gap: var(--space--xx-small) var(--space--base);
  grid-template-areas:
    "title arrow"
    "description arrow";
  grid-template-columns: 1fr auto;

  @media (min-width: 65em) {
    grid-template-areas: "title description arrow";
    grid-template-columns: 1fr 1fr auto;
  }
}

.link-list--feature .link-list__title {
  font-size: var(--font-size--heading-subsection);
  font-weight: var(--font-weight--bold);
  grid-area: title;
  line-height: var(--line-height--tight);
}

.link-list--feature .link-list__description {
  grid-area: description;
}

.link-list__arrow {
  --size: var(--space--medium);

  align-items: center;
  border-radius: var(--border-radius--circle);
  color: var(--color--primary-base);
  display: flex;
  height: var(--size);
  justify-content: center;
  transition-duration: var(--transition-duration--base);
  transition-property: color, background-color, transform;
  transition-timing-function: var(--transition-timing--base);
  width: var(--size);

  svg {
    width: var(--space--base);
  }
}

.link-list--feature .link-list__arrow {
  --size: var(--space--large);

  grid-area: arrow;

  svg {
    transform: rotate(-45deg);
    width: var(--space--medium);
  }
}
