.sponsors {
    background-color: white;
    box-shadow: 0px 4px 13px 0px rgba(167, 167, 167, 0.3);
    border-radius: 0 0 12px 12px;
    padding: 0;
    margin: 30px 0;

    .sponsors__title {
        background-color: var(--color-red);
        border-radius: 12px 12px 0 0;
        color: white;
        margin: 0;
        padding: 36px 20px;
        text-align: center;
    }
}

.sponsors__inner {
    display: flex;
    flex-direction: column;
    column-gap: 60px;
    row-gap: 20px;
    padding: 60px 20px;
    a {
        text-decoration: none;
        border-bottom: 0;
        background-image: none;
        box-shadow: none;
    }
    img {
        height: 60px;
        max-width: 100%;
        object-fit: contain;
    }
}

@media (min-width: 834px) {
    .sponsors {
        .sponsors__title {
            font-size: 1.125rem;
            line-height: 1.75rem;
        }
    }

    .sponsors__inner {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (min-width: 1440px) {
    .sponsors {
        .sponsors__title {
            font-size: 1.5rem;
        }
    }
}
