.home-template {
    h1,
    h2,
    h3 {
        font-family: 'Rubik', sans-serif;
        margin: 0;
        text-align: left;
    }

    h2 {
        font-size: 2rem;
        font-weight: 700;
        line-height: auto;
        text-transform: uppercase;
        margin-bottom: 16px;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2.25rem;
    }

    h3#conferences {
        background: none;
    }

    p {
        font-family: 'Inter', sans-serif;
    }

    hr {
        border: 3px solid var(--yellow);
        width: 70px;
    }

    section {
        padding: 0;
        margin: 0;
    }

    .home-template__hero {
        display: flex;
        flex-direction: column;
        gap: 14px;
        padding: 40px;
        max-width: 1135px;
        margin: auto;

        h1 {
            color: var(--red);
            font-size: 2rem;
            font-weight: 700;
            line-height: auto;
            text-transform: uppercase;
        }

        h2 {
            color: var(--navy);
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 2.25rem;
            text-transform: unset;
        }

        h3 {
            color: var(--navy);
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.125rem;
        }
    }

    .home-template__pillars {
        background-image: url('/assets/images/home__pillars--background.jpg');
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        border-radius: 0;
        padding: 40px;
    }

    .home-template__pillars__inner {
        max-width: 1135px;
        margin: auto;

        hr {
            margin: 0 0 30px 0;
        }
    }

    .home-template__pillars__details {
        background-color: var(--navy);
        border-radius: 8px;
        display: grid;
        gap: 48px;
        grid-template-areas: 'image-grid' 'content' 'stats';
        grid-template-columns: 1fr;
        padding: 36px 24px;
    }

    .home-template__pillars__details--image-grid {
        display: grid;
        gap: 16px;
        grid-area: image-grid;
        grid-template-areas: 'image-item-three' 'image-item-one' 'image-item-two';

        img {
            border-radius: 8px;
            height: 140px;
            object-fit: cover;
            object-position: center;
            width: 100%;
        }

        .home-template__pillars__details--image-grid_item--one {
            grid-area: image-item-one;
        }

        .home-template__pillars__details--image-grid_item--two {
            grid-area: image-item-two;
            object-position: top;
        }

        .home-template__pillars__details--image-grid_item--three {
            grid-area: image-item-three;
        }
    }

    .home-template__pillars__details--content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        grid-area: content;

        p {
            margin-bottom: 0;
        }

        p:first-of-type {
            flex-grow: 1;
        }

        p:last-of-type {
            font-size: 0.875rem;
            line-height: 1.5rem;
        }

        .kg-button-card a.kg-btn,
        .kg-button-card a.kg-btn-accent {
            box-shadow: none;
        }
    }

    .home-template__pillars__details--stats {
        background-color: var(--mutednavy);
        border-radius: 8px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 12px;
        grid-area: stats;
        padding: 20px;

        section {
            display: grid;
            justify-content: center;
            gap: 12px;
            padding: 12px;

            h3,
            p {
                text-align: center;
            }

            h3 {
                font-size: 1.5rem;
                font-weight: 500;
                line-height: 1.75rem;
                text-transform: uppercase;
            }

            p {
                font-size: 0.75rem;
                line-height: 1rem;
            }
        }
    }

    @media (min-width: 834px) {
        h2 {
            font-size: 4.5rem;
        }

        h3 {
            font-size: 2.625rem;
            line-height: 3rem;
        }

        .home-template__hero {
            gap: 24px;
            padding: 96px 56px;

            h1 {
                font-size: 4.5rem;
            }

            h2 {
                font-size: 2.625rem;
                line-height: 3rem;
            }

            h3 {
                font-size: 1.125rem;
                line-height: 1.75em;
            }
        }

        .home-template__pillars {
            padding: 96px 56px;
        }

        .home-template__pillars__inner {
            hr {
                margin: 0 0 60px 0;
            }
        }

        .home-template__pillars__details {
            padding: 80px 48px;
        }

        .home-template__pillars__details--image-grid {
            grid-template-areas: 'image-item-three image-item-three' 'image-item-one image-item-two';
            grid-template-columns: repeat(2, minmax(0, 1fr));

            img {
                height: 220px;
            }
        }

        .home-template__pillars__details--stats {
            gap: 0;
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }

    @media (min-width: 1440px) {
        .home-template__hero {
            padding: 96px 0;

            h3 {
                max-width: 693px;
            }
        }

        .home-template__pillars {
            padding: 96px 0;
        }

        .home-template__pillars__details {
            grid-template-areas: 'content image-grid' 'stats stats';
            grid-template-columns: 335px 1fr;
        }

        .home-template__pillars__details--content {
            h3 {
                margin-bottom: 8px;
            }
        }

        .home-template__pillars__details--image-grid {
            grid-template-areas: 'image-item-one image-item-three' 'image-item-two image-item-three';
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;

            img {
                height: 100%;
            }
        }

        .home-template__pillars__details--stats {
            section {
                h3 {
                    font-size: 2.625rem;
                    line-height: 3rem;
                }

                p {
                    font-size: 1rem;
                }
            }
        }
    }
}
