.home-template {
    .home-template__hero {
        display: flex;
        flex-direction: column;
        gap: 14px;
        padding: 20px 40px 40px;
        max-width: var(--layout-inner-max-width);
        margin: auto;

        h1 {
            color: var(--color-red);
            font-size: 2rem;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
        }

        h2 {
            color: var(--color-navy);
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 2.25rem;
            text-transform: unset;
        }

        h3 {
            color: var(--color-navy);
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.125rem;
        }
    }

    .home-template__pillars {
        color: white;
        background-image: url('/assets/images/home__pillars--background.jpg');
    }

    .home-template__pillars,
    .home-template__support {
        h2 {
            margin-bottom: 16px;
            text-transform: uppercase;
        }
    }

    .home-template__community {
        color: white;
        background-image: url('/assets/images/home__community--background.jpg');
    }

    .home-template__pillars,
    .home-template__community {
        background-position: bottom center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        border-radius: 0;
        padding: 40px;
    }

    .home-template__pillars__inner,
    .home-template__community__inner {
        max-width: var(--layout-inner-max-width);
        margin: auto;
    }

    .home-template__pillars__details,
    .home-template__community__details {
        display: grid;
        background-color: var(--color-navy);
        border-radius: 8px;
        gap: 48px;
        grid-template-columns: 1fr;
        padding: 36px 24px;
    }

    .home-template__pillars__details {
        grid-template-areas: 'image-grid' 'content' 'stats';
    }

    .home-template__community__details {
        grid-template-areas: 'image' 'content' 'stats';
    }

    .home-template__pillars__details--image-grid {
        display: grid;
        gap: 16px;
        grid-area: image-grid;
        grid-template-areas: 'image-item-three' 'image-item-one' 'image-item-two';

        img {
            border-radius: 8px;
            height: 140px;
            object-fit: cover;
            object-position: center;
            width: 100%;
        }

        .home-template__pillars__details--image-grid_item--one {
            grid-area: image-item-one;
        }

        .home-template__pillars__details--image-grid_item--two {
            grid-area: image-item-two;
            object-position: top;
        }

        .home-template__pillars__details--image-grid_item--three {
            grid-area: image-item-three;
        }
    }

    .home-template__community__details--image {
        border-radius: 8px;
        grid-area: image;
        object-fit: cover;
        width: 100%;
    }

    .home-template__pillars__details--content,
    .home-template__community__details--content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        grid-area: content;

        p {
            margin-bottom: 0;
        }

        p:first-of-type {
            flex-grow: 1;
        }

        small {
            font-size: 0.875rem;
            line-height: 1.5rem;
        }

        .kg-button-card a.kg-btn,
        .kg-button-card a.kg-btn-accent {
            box-shadow: none;
        }
    }

    .home-template__pillars__details--stats,
    .home-template__community__details--stats {
        align-items: start;
        background-color: var(--color-mutednavy);
        border-radius: 8px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 8px;
        grid-area: stats;
        padding: 20px;

        section {
            display: flex;
            flex-direction: column;
            gap: 12px;
            justify-content: center;
            padding: 12px;

            h3,
            p {
                text-align: center;
            }

            h3 {
                font-size: 1.5rem;
                font-weight: 500;
                line-height: 1.75rem;
                text-transform: uppercase;
            }

            p {
                font-size: 1rem;
                line-height: 1.25rem;
                margin: 0;
            }
        }
    }

    .home-template__open-source {
        display: grid;
        gap: 48px;
        grid-template-areas: 'open-source-content' 'open-source-stats';
        grid-template-columns: 1fr;
        margin: auto;
        max-width: 900px;
        padding: 70px 40px;

        h2 {
            text-transform: uppercase;
        }
    }

    .home-template__open-source__content {
        color: var(--color-navy);
        display: flex;
        flex-direction: column;
        gap: 16px;
        grid-area: open-source-content;

        p:first-of-type {
            flex-grow: 1;
        }

        small {
            font-size: 0.875rem;
            line-height: 1.5rem;
        }

        hr {
            margin: 0;
        }
    }

    .home-template__open-source__stats {
        color: white;
        background-color: var(--color-red);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 16px;
        grid-area: open-source-stats;
        padding: 48px 20px;

        section {
            display: flex;
            flex-direction: column;
            gap: 8px;

            h3,
            p {
                text-align: center;
            }

            h3 {
                font-size: 2rem;
                line-height: 3rem;
                text-transform: uppercase;
            }

            p {
                font-size: 1rem;
                line-height: 1rem;
                margin: 0;
            }
        }
    }

    .home-template__support {
        max-width: var(--layout-inner-max-width);
        margin: auto;
        padding: 70px 40px 0;

        h2,
        p {
            text-align: center;
        }

        hr {
            margin: 0 auto 30px;
        }
    }

    @media (min-width: 834px) {
        .home-template__hero {
            gap: 24px;
            padding: 48px 56px 96px;

            h1 {
                font-size: 4.5rem;
            }

            h2 {
                font-size: 2.625rem;
                line-height: 3rem;
            }

            h3 {
                font-size: 1.125rem;
                line-height: 1.75em;
            }
        }

        .home-template__pillars,
        .home-template__community {
            padding: 96px 56px;
        }

        .home-template__pillars__details,
        .home-template__community__details {
            padding: 80px 48px;
        }

        .home-template__pillars__details--image-grid {
            grid-template-areas: 'image-item-three image-item-three' 'image-item-one image-item-two';
            grid-template-columns: repeat(2, minmax(0, 1fr));

            img {
                height: 220px;
            }
        }

        .home-template__community__details--image {
            height: 350px;
        }

        .home-template__pillars__details--stats,
        .home-template__community__details--stats {
            gap: 0;
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        .home-template__open-source {
            grid-template-areas: 'open-source-stats open-source-content';
            grid-template-columns: 275px 1fr;
            padding: 70px;
        }

        .home-template__open-source__stats {
            gap: 55px;
        }

        .home-template__support {
            padding: 96px 56px 0;
        }
    }

    @media (min-width: 1440px) {
        .home-template__hero {
            padding: 48px 0 96px;

            h3 {
                font-size: 1.5rem;
                line-height: 1.75rem;
                max-width: 693px;
            }
        }

        .home-template__pillars {
            padding: 96px 0;
        }

        .home-template__pillars__details {
            grid-template-areas: 'content image-grid' 'stats stats';
            grid-template-columns: 335px 1fr;
        }

        .home-template__community__details {
            grid-template-areas: 'image content' 'stats stats';
            grid-template-columns: 1fr 335px;
        }

        .home-template__pillars__details--content,
        .home-template__community__details--content {
            h3 {
                margin-bottom: 8px;
            }
        }

        .home-template__pillars__details--image-grid {
            grid-template-areas: 'image-item-one image-item-three' 'image-item-two image-item-three';
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;

            img {
                height: 100%;
            }
        }

        .home-template__community__details--image {
            height: 445px;
            object-position: 50% 65%;
        }

        .home-template__pillars__details--stats,
        .home-template__community__details--stats {
            section {
                h3 {
                    font-size: 2.625rem;
                    line-height: 3rem;
                }
            }
        }

        .home-template__open-source {
            gap: 96px;
            grid-template-columns: 330px 1fr;
            padding: 70px 0;
        }

        .home-template__open-source__stats {
            section {
                h3 {
                    font-size: 2.625rem;
                    line-height: 3rem;
                }
            }
        }

        .home-template__support {
            padding: 96px 0 66px;
        }
    }
}
