@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

#support a {
  color: var(--white);
  text-shadow: 0 2px 0 var(--blue), 1px 2px 0 var(--blue), -1px 2px 0 var(--blue), 2px 2px 0 var(--blue), -2px 2px 0 var(--blue);
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(to top, #FFFDF9 0%, #FFFDFD 100%);
  color: var(--text);
  font-size: 16px;
}

.padded-container {
  padding: calc(8px + 1.5625vw);
}

body p {
  line-height: 27px;
  margin: 0 0 27px 0;
}

body p:last-child {
  margin: 0;
}

body a {
  text-decoration: none;
  color: inherit;
  text-decoration: none;
  padding-bottom: 1px;
  box-shadow: inset 0 -2px 0 var(--yellow);
  transition: all .15s ease-in-out;
}

body a:hover {
  box-shadow: inset 0 -2px 0 var(--red);
  transition: all .15s ease-in-out;
}

header {
  text-align: center;
  padding: 50px 0 70px 0;
}

header #main-logo {
  box-shadow: none;
  width: 400px;
  margin: 0 auto;
  display: block;
}

header #main-logo .logo-square {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border-radius: 25px;
  box-shadow: 0 2px 9px rgba(255, 186, 186, 0.3), 0px 16px 29px rgba(239, 70, 70, 0.12);
  line-height: 120px;
  position: relative;
  display: block;
  background: linear-gradient(to top, #FDF1F1 0%, #FFFFFF 100%);
  transition: box-shadow .25s ease-in-out, transform .25s ease-in-out;
}

header #main-logo .logo-square .logo-circle {
  transition: transform .25s ease-in-out;
  position: absolute;
  width: 80px;
  height: 80px;
  left: 20px;
  top: 20px;
  border-radius: 40px;
  box-shadow: 0 9px 18px rgba(129, 0, 0, 0.3), 0 2px 5px rgba(137, 0, 0, 0.2);
  background: url(/assets/images/gem-logo.svg) no-repeat center 10px, linear-gradient(to top, #DF3434 0%, #FB5E55 100%);
}

header #main-logo:hover .logo-square {
  box-shadow: 0 4px 12px rgba(255, 186, 186, 0.4), 0px 25px 35px rgba(232, 10, 10, 0.15);
  transform: translateY(-3px);
}

header #main-logo:hover .logo-square .logo-circle {
  transform: scale(1.05);
}

header #main-logo h1 {
  color: var(--text);
  font-family: 'Rubik';
  font-weight: 600;
  font-size: 48px;
  letter-spacing: -2px;
  margin: 25px 0 10px;
  display: block;
}

header h2 {
  color: var(--red);
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

.upcoming {
  margin: 0 auto 50px;
}

.upcoming .homepage-featured {
  max-width: 950px;
  background: var(--red) 20px center no-repeat;
  border-radius: 20px;
  height: 60px;
  line-height: 60px;
  padding: 0 25px 0 47px;
  color: var(--white);
  margin: 0 auto 10px ;
}

.upcoming .homepage-featured:nth-child(1) {
  background: var(--blue) 20px center no-repeat;
}

.upcoming .homepage-featured:nth-child(2) {
  background: var(--navy) 20px center no-repeat;
}

.upcoming .homepage-featured .homepage-featured-button {
  float: right;
  display: block;
  color: var(--red);
  background: var(--white);
  border-radius: 3px;
  height: 40px;
  line-height: 40px;
  padding: 0 30px;
  margin: 10px -10px;
  font-weight: 600;
}

.upcoming ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  list-style-type: none;
  padding: 0;
  column-gap: 10px;
  margin: 0;
}

.upcoming ul li {
  background: #fff;
  border-radius: 5px;
  border: 2px solid var(--divider);
  padding: 50px 20px 20px 20px;
  position: relative;
}

.upcoming ul li img {
  position: absolute;
  left: 20px;
  top: 10px;
}

.upcoming ul li a {
  display: block;
  color: var(--red);
  text-decoration: underline;
  font-weight: 600;
}

.upcoming-details {
  width: 600px;
  margin: 0 auto;
  padding: 275px 50px 10px 50px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 600px 225px;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid var(--divider);
}

.upcoming-details.denver {
  background-image: url(/assets/images/denver.png);
}

.upcoming-details.atlanta {
  background-image: url(/assets/images/atlanta.png);
}

.upcoming-details.portland {
  background-image: url(/assets/images/portland.png);
}

.upcoming-details.houston {
  background-image: url(/assets/images/houston.png);
}

.upcoming-details h3 {
  margin: 0;
  font-size: 30px;
}

.upcoming-details h4 {
  font-size: 16px;
  margin: 0;
  color: var(--blue);
  font-weight: 600;
}

.upcoming-details h5 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.upcoming-details form {
  margin: 25px -50px 10px;
  padding: 25px 50px;
  border-top: 1px solid var(--divider);
  border-bottom: 1px solid var(--divider);
  position: relative;
}

.upcoming-details form label {
  color: var(--red);
  font-size: 18px;
  font-weight: 700;
  display: block;
  margin: 0 0 10px 0;
  font-family: 'Rubik';
}

.upcoming-details form input[type="email"] {
  border: 1px solid #D4CEC8;
  border-radius: 5px;
  padding: 14px;
  width: 100%;
  font-size: 16px;
  color: var(--text);
  font-family: 'Rubik';
}

.upcoming-details form input[type="email"]:focus {
  border: 1px solid var(--blue);
  outline: none;
}

.upcoming-details form input[type="submit"].button {
  border: none;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  font-weight: 700;
  color: var(--white);
  background: var(--red);
  padding: 0 15px;
  border-radius: 3px;
  position: absolute;
  right: 55px;
  bottom: 30px;
}

.upcoming-details span {
  margin: 0;
  display: block;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  background: var(--divider);
}

.upcoming-details span a {
  text-shadow: 0 2px 0 var(--divider), 1px 2px 0 var(--divider), -1px 2px 0 var(--divider), 2px 2px 0 var(--divider), -2px 2px 0 var(--divider);
}

.main-grid {
  max-width: 950px;
  margin: 0 auto 50px auto;
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr;
}

section {
  padding: 50px;
  border-radius: 20px;
  color: var(--white);
  margin: 0 0 50px 0;
}

section:last-child {
  margin: 0;
}

section.light-background {
  background: #fff;
  border: 2px solid #F4EEE6;
  color: var(--text);
}

section.light-background h3 {
  color: var(--red);
}

h3 {
  font-size: 24px;
  font-weight: 600;
  font-family: 'Rubik';
  margin: 0 0 5px 0;
}

.icon-box {
  margin: 0 0 30px 0;
  width: 64px;
  height: 64px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.3);
}

#support {
  background-color: var(--blue);
}

#support .icon-box {
  box-shadow: 0 9px 18px rgba(15, 35, 63, 0.14), 0 1px 5px rgba(23, 43, 69, 0.12);
  background: url(/assets/images/support-icon.svg) center center no-repeat, linear-gradient(to top, #5A81B7 0%, #6992CA 100%);
}

#conferences {
  background-color: var(--yellow);
}

#conferences h3 {
  margin: 0;
}

@keyframes video_hover {
  0% {
    background-position: 5px center;
  }

  49% {
    background-position: 15px center;
  }

  50% {
    background-position: -15px center;
  }

  100% {
    background-position: 5px center;
  }
}

@keyframes video_hover_out {
  0% {
    background-position: 5px center;
  }

  49% {
    background-position: -15px center;
  }

  50% {
    background-position: 15px center;
  }

  100% {
    background-position: 5px center;
  }
}

.content {
  max-width: 950px;
  margin: 0 auto;
  position: relative;
}

#about,
#history {
  padding: 150px 0;
}

#about .icon-box,
#history .icon-box {
  top: 0;
  left: -84px;
  margin: 0;
  position: absolute;
}

#about {
  margin: 150px 0 0 0;
  background: var(--lightblue);
  border-bottom: 10px solid #C7D2DB;
  border-top: 10px solid var(--yellow);
}

#history {
  background: var(--navy);
  border-bottom: 10px solid var(--yellow);
  color: var(--white);
}

#history .icon-box {
  box-shadow: 0 9px 18px rgba(17, 24, 38, 0.1), 0 1px 5px rgba(26, 30, 36, 0.2);
  background: url(/assets/images/history-icon.svg) center center no-repeat, linear-gradient(to top, #292F3A 0%, #313743 100%);
}

.profile-image {
  border: 2px solid var(--white);
  border-radius: 100%;
  box-shadow: 0 6px 14px rgb(39 41 45 / 26%);
  display: block;
  height: 200px;
  margin: 0 auto 1rem;
  width: 200px;
  object-fit: cover;
}

#directors {
  margin: 0 0 150px 0;
  position: relative;
}

#directors .icon-box {
  box-shadow: 0 9px 18px rgba(191, 204, 214, 0.12), 0 1px 5px rgba(205, 231, 252, 0.3);
  background: url(/assets/images/directors-icon.svg) center center no-repeat, linear-gradient(to top, #F6FBFE 0%, #fff 100%);
}

#staff {
  position: relative;
}

#staff .icon-box {
  box-shadow: 0 9px 18px rgba(191, 204, 214, 0.12), 0 1px 5px rgba(205, 231, 252, 0.3);
  background: url(/assets/images/staff-icon.svg) center center no-repeat, linear-gradient(to top, #F6FBFE 0%, #fff 100%);
}

#oss-team, #oss-sponsors {
  margin-top: 40px;
}

.static-content {
  width: 50%;
  margin: 0 auto;
}

.static-content.upcoming-conference-container {
  margin-top: -100px;
}

.static-content h3 {
  color: var(--red);
}

.static-content ul {
  margin: 0;
  padding: 0;
}

.static-content ul li {
  line-height: 27px;
  margin: 0 0 15px 0;
  padding: 0 0 0 20px;
  background: url(/assets/images/bullet.svg) 0 8px no-repeat;
  list-style-type: none;
}

.back {
  font-size: 16px;
  display: inline-block;
  margin: 0 0 20px 0;
}

.arrow {
  display: none;
}

.apply {
  display: grid;
  grid-template-columns: 1fr 200px;
  gap: 25px;
  margin: 25px 0 0 0;
}

.apply strong {
  display: block;
  margin: 0 0 10px 0;
}

.apply-btn {
  display: block;
  width: 200px;
  text-align: center;
  color: var(--white);
  background: var(--red);
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  font-weight: 600;
}

@media screen and (max-width: 1200px) and (orientation: portrait),
(max-width: 1097px) and (orientation: landscape) {
  #about .icon-box,
  #history .icon-box {
    left: 0;
    top: -84px;
  }

}

@media screen and (max-width: 900px) and (orientation: portrait),
(max-width: 823px) and (orientation: landscape) {
  .apply {
    display: block;
  }

  .apply-btn {
    width: auto;
  }

  .upcoming {
    width: auto;
    margin: 0 20px 50px;
  }

  .upcoming .homepage-featured {
    background: var(--red) 20px 20px no-repeat;
    background-image: none;
    border-radius: 5px;
    line-height: 26px;
    height: auto;
    padding: 20px;
    color: var(--white);
    margin: 0 0 10px 0;
  }

  .upcoming .homepage-featured .homepage-featured-button {
    float: none;
    height: 40px;
    width: auto;
    text-align: center;
    line-height: 40px;
    padding: 0;
    margin: 10px 0 0 0;
  }

  .upcoming ul {
    display: block;
  }

  .upcoming ul li {
    padding: 0 0 0 20px;
    position: relative;
    height: 50px;
    line-height: 50px;
    margin: 0 0 10px 0;
  }

  .upcoming ul li img {
    width: 20px;
    right: 20px;
    left: auto;
    top: 15px;
    height: auto;
  }

  .upcoming ul li small {
    position: absolute;
    right: 50px;
    top: 0;
    height: 50px;
  }

  .upcoming-details {
    width: auto;
    margin: 0;
    padding: 220px 15px 10px 15px;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: auto 200px;
  }

  .upcoming-details form {
    margin: 15px -15px 10px;
    padding: 15px;
    border-top: 1px solid var(--divider);
    border-bottom: 1px solid var(--divider);
    position: relative;
  }

  .upcoming-details form input[type="email"] {
    font-size: 14px;
  }

  .upcoming-details form input[type="submit"].button {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    right: 19px;
    bottom: 19px;
  }

  header {
    padding: 50px 20px;
  }

  header #main-logo {
    width: auto;
  }

  header #main-logo h1 {
    font-size: 36px;
    letter-spacing: -1px;
  }

  header h2 {
    font-size: 20px;
    line-height: 32px;
  }

  h3 {
    font-size: 20px;
  }

  .main-grid {
    width: auto;
    display: block;
    padding: 0 20px;
    margin: unset;
  }

  .main-grid section {
    padding: 25px;
    margin: 0 0 20px 0;
    position: relative;
    max-height: 114px;
    overflow: hidden;
    transition: all .5s ease-in-out;
  }

  .main-grid section.active {
    max-height: 2500px;
    height: auto;
  }

  .main-grid section.active .arrow {
    transform: rotate(90deg);
    transition-delay: 0s;
  }

  .main-grid section .section-header {
    padding: 25px;
    margin: -25px;
  }

  .main-grid section:last-child {
    margin: 0 0 20px 0;
  }

  .main-grid section h3 {
    position: absolute;
    left: 100px;
    top: 45px;
  }

  .main-grid section#conferences {
    height: auto;
    max-height: 114px;
    min-height: 114px;
    position: relative;
  }

  .main-grid section#conferences h3 {
    line-height: 30px;
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translate(0, -50%);
  }

  .icon-box {
    margin-bottom: 25px;
    transform: translateY(0) !important;
  }

  .arrow {
    position: absolute;
    display: block;
    right: 25px;
    top: 52px;
    transition: all .25s ease-in-out;
    transition-delay: .25s;
  }

  #support {
    width: auto;
    padding: 25px;
    position: relative;
    overflow: hidden;
    transition: all .5s ease-in-out;
  }

  #support.active {
    max-height: 700px;
    height: auto;
  }

  #support.active .arrow {
    transform: rotate(90deg);
  }

  #support h3 {
    position: absolute;
    left: 100px;
    top: 45px;
  }

  .content {
    width: auto;
  }

  #about {
    margin: 50px 0 0 0;
    padding: 50px 25px;
  }

  #about .icon-box {
    left: 0;
    top: 0;
  }

  #history {
    padding: 50px 25px;
  }

  #history .content {
    padding-top: 80px;
  }

  #history .icon-box {
    left: 0;
    top: 0;
  }

  #directors {
    margin: 0 0 50px 0;
    padding-top: 80px;
  }

  .static-content {
    width: auto;
    padding: 0 20px;
  }

  .static-content.upcoming-conference-container {
    margin-top: -5px;
  }
}
