@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: var(--text);
  font-size: 16px;
}

body p {
  line-height: 27px;
  margin: 0 0 27px 0;
}

body p:last-child {
  margin: 0;
}

body a {
  text-decoration: none;
  color: inherit;
  text-decoration: none;
  padding-bottom: 1px;
  box-shadow: inset 0 -2px 0 var(--yellow);
  transition: all .15s ease-in-out;
}

body a:hover {
  box-shadow: inset 0 -2px 0 var(--red);
  transition: all .15s ease-in-out;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  font-family: 'Rubik';
  margin: 0 0 5px 0;
}

#about,
#history {
  padding: 150px 0;
}

#about {
  margin: 150px 0 0 0;
  background: var(--lightblue);
  border-bottom: 10px solid #C7D2DB;
  border-top: 10px solid var(--yellow);
}

#history {
  background: var(--navy);
  border-bottom: 10px solid var(--yellow);
  color: var(--white);
}

.profile-image {
  border: 2px solid var(--white);
  border-radius: 100%;
  box-shadow: 0 6px 14px rgb(39 41 45 / 26%);
  display: block;
  height: 200px;
  margin: 0 auto 1rem;
  width: 200px;
  object-fit: cover;
}

#directors {
  margin: 0 0 150px 0;
  position: relative;
}

#staff {
  position: relative;
}

#oss-team, #oss-sponsors {
  margin-top: 40px;
}

.static-content {
  width: 50%;
  margin: 0 auto;
}

.static-content.upcoming-conference-container {
  margin-top: -100px;
}

.static-content h3 {
  color: var(--red);
}

.static-content ul {
  margin: 0;
  padding: 0;
}

.static-content ul li {
  line-height: 27px;
  margin: 0 0 15px 0;
  padding: 0 0 0 20px;
  background: url(/assets/images/bullet.svg) 0 8px no-repeat;
  list-style-type: none;
}

.back {
  font-size: 16px;
  display: inline-block;
  margin: 0 0 20px 0;
}

.arrow {
  display: none;
}

.apply {
  display: grid;
  grid-template-columns: 1fr 200px;
  gap: 25px;
  margin: 25px 0 0 0;
}

.apply strong {
  display: block;
  margin: 0 0 10px 0;
}

.apply-btn {
  display: block;
  width: 200px;
  text-align: center;
  color: var(--white);
  background: var(--red);
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  font-weight: 600;
}

@media screen and (max-width: 1200px) and (orientation: portrait),
(max-width: 1097px) and (orientation: landscape) {
}

@media screen and (max-width: 900px) and (orientation: portrait),
(max-width: 823px) and (orientation: landscape) {
  .apply {
    display: block;
  }

  .apply-btn {
    width: auto;
  }

  h3 {
    font-size: 20px;
  }

  .arrow {
    position: absolute;
    display: block;
    right: 25px;
    top: 52px;
    transition: all .25s ease-in-out;
    transition-delay: .25s;
  }

  #about {
    margin: 50px 0 0 0;
    padding: 50px 25px;
  }

  #history {
    padding: 50px 25px;
  }

  #directors {
    margin: 0 0 50px 0;
    padding-top: 80px;
  }

  .static-content {
    width: auto;
    padding: 0 20px;
  }

  .static-content.upcoming-conference-container {
    margin-top: -5px;
  }
}
